<html>
  <head>
    <title>
      Shopply
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/jquery.js"></script>
    <script src="/bootstrap.js"></script>
    <link rel="stylesheet" href="/bootstrap.css">
  </head>
  <body>
    <nav class="navbar navbar-light bg-light justify-content-between">
    <a class="navbar-brand">Shopply</a>
    <div class="form-inline">
      <a href="/products" class="btn btn-outline-info my-2 my-sm-0" style="margin-left: .5rem !important;">Home</a>
      <a href="/admin" class="btn btn-outline-info my-2 my-sm-0" style="margin-left: .5rem !important;">Admin</a>
      <a href="/cart" class="btn btn-outline-info my-2 my-sm-0" style="margin-left: .5rem !important;">Cart</a>
    </form>
  </nav>
  <h2 style="align: center">Congratulations, your order has been placed successfully!!</h2>
  </body>
</html>
