<html>
  <head>
    <title>
      Shopply
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/jquery.js"></script>
    <script src="/bootstrap.js"></script>
    <link rel="stylesheet" href="/bootstrap.css">
  </head>
  <body>
    <div class="row" style="display: flex; align-self: center;">
      <div class="container col-md-6 col-sm-12">
        <form method="get" action="/products">
          <div class="form-group" >
            <label for="name">Enter Your Name</label>
            <input type="text" class="form-control" id="pname" placeholder="Aakash Madan" name="name">
          </div>
          <button type="submit" class="btn btn-info">Submit</button>
        </form>
      </div>
    </div>
  </body>
</html>
